body {
    background-color: aqua;
}
header {
    display: flex;
    justify-content: center;
    height: 50px;
    background-color: rgb(62, 219, 219);
}
.navigation{
    width: 100%;
}
.nav-link{
    margin-left: 15%;
    color: black;
}
ul{
    display:flex;
    list-style: none;
}
div{
    background-color: blueviolet
    width: 50px;
    height: 60px;
}